.site-header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    z-index: 999;
}

.logo-wrap img {
    width: 40px;
    height: auto;
}

  .site-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    counter-reset: li;
  }
  .navlink {
    position: relative;
    display: block;
    padding: 0 20px 0 35px;
    font-size: var(--text-sm);
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    transition: .2s ease-in-out;
  }
  .navlink::before {
    content: "0" counter(li) ".";
    counter-increment: li;
    position: absolute;
    top: 0;
    left: 0;
    color: #97c7ff;
}
  .navlink:hover {
    color: #4d94e8
  } 
  .nav-toggler {
    padding: 5px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
	  border: none;
    display: none;
  }
  .nav-toggler span, 
  .nav-toggler span:before, 
  .nav-toggler span:after {
    width: 28px;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: .3s;
  }
  .nav-toggler span:before {
    content: '';
    transform: translateY(-8px);
  }
  .nav-toggler span:after {
    content: '';
    transform: translateY(6px);
  }
  .nav-toggler.toggler-open span {
    background-color: transparent;
  }
  .nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
  }
  .nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
  }

  
  @media screen and (max-width: 768px) {
    
    .nav-toggler{
      display: block;
    }
    .site-navbar {
      min-height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .site-navbar ul {
      position: absolute;
      width: 100%;
      height: 100vh;
	    top: 0;
	    left: 0;
      flex-direction: column;
      align-items: center;
      background-color: #111;
      overflow: hidden;
      transform: translateX(100%);
      z-index: -1;
      transition: .8s;
    }
    .site-navbar ul li {
      width: 100%;
      text-align: center;
    }
    .navlink {
      font-size: 26px;
      padding: 15px;
      color: #fff;
      opacity: 0;
      transition: 1.3s
    }
    .site-navbar ul.open {
      transform: translateX(0);
      opacity: 1;
    }
     .site-navbar ul.open .navlink {
      opacity: 1;
    }
   .site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: space-between;
  }
  }
