
.site-header {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    z-index: 999;
}

.logo-wrap img {
    width: 40px;
    height: auto;
}
 
.site-header nav ul {
    margin-bottom: 0;
    text-align: end;
    counter-reset: li;
}

.site-header nav ul li {
    display: inline-block;
    position: relative;
}

.site-header nav ul li::before {
    content: "0" counter(li) ".";
    counter-increment: li;
    position: absolute;
    top: 0;
    left: 0;
    font-size: initial;
    color: #97c7ff;
}

.site-header nav ul li a {
    padding: 25px 25px 25px 35px;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
}