.hero {
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top left, #15005a 10%, #1c0077 20%, #15005a 60%);
}

.hero__content {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.hero__content h1 {
  background: linear-gradient(-60deg, #47ffd3 10%, #531eff 40%, #ff1e98 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__content span {
    position: absolute;
    top: 115px;
    left: -26px;
    font-family: var(--font-secondary);
    text-transform: uppercase;
}
.hero__content span:nth-child(2) {
    top: 22%;
    left: -26px;
    font-size: var(--text-xl);
    font-weight: 700;
}
.hero__content span:nth-child(3) {
    top: 41%;
    left: 118px;
    font-size: var(--text-lg);
    font-weight: 300;
    letter-spacing: 3px;
}
.hero__content h1 {
    margin-bottom: 10px;
    font-family: serif;
    font-size: var(--text-xxxxl);
    letter-spacing: 2px;
    line-height: 1;
    text-align: end;
}
.hero__content p {
    padding-left: 110px;
    font-size: var(--text-md);
}
.line {
  width: 5vw;
  margin-top: 18px;
  margin-bottom: 18px;
  background: linear-gradient(to right, #47ffd3 0, #47ffd3 20%, #a31ecf 100%);
  height: 2px;
  border: none;
  border-radius: 5px;
}

.line-wrap-left {
    position: absolute;
    top: 21%;
    left: 0;
}

.line-wrap-right {
  position: absolute;
  bottom: 21%;
  right: 0;
}

.line-l-1 {
    margin-left: 30px;
    width: 15vw;
    height: 12px;
    background: linear-gradient(to right, #5625f5 0, #5625f5 20%, rgba(86, 37, 245, 0));
}

.line-l-2 {
  margin-top: 15px;
  margin-left: 70px;
  width: 8vw;
  height: 6px;
  background: #50ffb1
}

.line-l-3 {
  margin-top: 15px;
  margin-left: 120px;
  width: 10vw;
  height: 4px;
  background: #7b1ee7
}

.line-p-1 {
  bottom: 10%;
  right: 0;
  width: 150px;
  height: 4px;
  background: #bb1ec1
}

.line-p-2 {
  bottom: 12%;
  right: 0;
  width: 150px;
  height: 4px;
  background: #bb1ec1
}

.line-p-3 {
  bottom: 15%;
  right: 0;
  width: 150px;
  height: 4px;
  background: #bb1ec1
}


.scroll-container{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 15px);
  width: 28px;
  height: 60px;
  border: 2px solid #fff;
  border-radius: 15px;
  }
  
  .scroller{
    width: 12px;
    border-radius: 8px;
    background-color: var(--color-accent-1);
    position: absolute;
    top: 7px;
    left: 6px;
    bottom: 37px;
    animation: scroller 1500ms ease-out infinite;
  }
  
  @keyframes scroller{
    0%{
      bottom: 37px;
    }
    5%{
      top: 7px;
    }
    32%{    
      bottom: 7px;
    }
    66%{
      top: 37px;
      bottom: 7px;
    }
    100%{
      top: 7px;
      bottom: 37px;
    }
  }


