* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.scroll-wrapper {
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}

.scroll-wrapper-section {
    display: flex;
    align-items: center;
    padding: 3% 0 5%;
    min-height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.bg-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.bg-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center
}

@media(min-width:768px) {
    .scroll-wrapper {
        scroll-snap-type: mandatory;
        scroll-snap-points-y: repeat(100vh);
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;
    }
    .scroll-wrapper-section {
        display: flex;
        align-items: center;
        padding: 3% 0 5%;
        min-height: 100vh;
        scroll-snap-align: start;
        position: relative;
    }
}