.opinion {
    background: radial-gradient(circle, rgba(3, 3, 27, 0.912) 0%, rgba(0,0,0,1) 100%);
}
.opinion p {
    margin-bottom: 0;
}
.opinion__slider__wrap {
    position: relative;
    padding: 5em 2em;
    text-align: center;
}
.opinion__slider__wrap::before,
.opinion__slider__wrap::after {
   position: absolute;
   content: "";
   width: 5em;
   height: 3.55em;
 }

.opinion__slider__wrap::before {
   background: url("../img/qt-open.svg");
   background-size: cover;
   top: 0;
   left: 0;
}

.opinion__slider__wrap::after {
    background: url("../img/qt-close.svg");
    background-size: cover;
    bottom: 0;
    right: 0;
}

@media(min-width:768px) {
    .opinion__slider__wrap {
        padding: 2.2em 8em;
    }
}