* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
}

.scroll-wrapper {
    overflow-y: scroll;
    height: 100vh;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    padding: 5% 0;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

.hero {
    justify-content: center;
    align-items: center;
}

